<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poly.persistance.mapper.IQuizMapper">
	
	<!-- //단어유형 목록 불러오기 -->
	<select id="getQuizList" parameterType="QuizDTO" resultType="QuizDTO">
		select*from quiz_info where type=1
	</select>
	  
	  <!-- //문제유형 목록 불러오기 --> 
	  <select id="getQuizList2" parameterType="QuizDTO" resultType="QuizDTO">
		select*from quiz_info where type=2
	</select>
	  
	  
	  
	<select resultType="QuizDTO" parameterType="QuizDTO" id="getQuizDetail"> 
	select sign_name,tm_path from quiz_info where sign_name=#{sign_name} 
	</select>
	
		<select resultType="QuizDTO" parameterType="QuizDTO" id="getQuizDetail2"> 
	select *from quiz_info where sign_name=#{sign_name} 
	</select>
	</mapper>